<div class="container">
    <div id="primary" class="content-area row">
        <div id="main" class="main col-md-12" role="main">

            <article id="post-2220" class="post-2220 page type-page status-publish hentry">
                <div class="entry-content">
                    <p>Hey !</p>
                    <p>we are chaitus media, leading photo &amp; Video service provider in kurnool. we are looking
                        for in-house creative &amp; passionate team to work with us.</p>
                    <p>Please Contact for an interview. Sharath : 9533036658<br>

                    </p>
                    <div class="wpcf7 js" id="wpcf7-f2218-p2220-o1" lang="en-US" dir="ltr" data-wpcf7-id="2218">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                        <form action="/careers/#wpcf7-f2218-p2220-o1" method="post" class="wpcf7-form init"
                            aria-label="Contact form" novalidate="novalidate" data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="2218">
                                <input type="hidden" name="_wpcf7_version" value="6.0.1">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2218-p2220-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="2220">
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                            </div>
                            <p><label> Your Name (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40"
                                            maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="your-name"></span> </label>
                            </p>
                            <p><label> Gender (required) </label><br>
                                <span class="wpcf7-form-control-wrap" data-name="Gender"><span
                                        class="wpcf7-form-control wpcf7-radio"><span
                                            class="wpcf7-list-item first"><input type="radio" name="Gender" value="Male"
                                                checked="checked"><span
                                                class="wpcf7-list-item-label">Male</span></span><span
                                            class="wpcf7-list-item last"><input type="radio" name="Gender"
                                                value="Female"><span
                                                class="wpcf7-list-item-label">Female</span></span></span></span>
                            </p>
                            <p><label> Date of Birth (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="DOB"><input
                                            class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date"
                                            aria-required="true" aria-invalid="false" value="" type="date"
                                            name="DOB"></span> </label>
                            </p>
                            <p><label> Position Interested In (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="PositionInterestedIn"><select
                                            class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" name="PositionInterestedIn">
                                            <option value="Long Video Editor">Long Video Editor</option>
                                            <option value="Project Manager">Project Manager</option>
                                            <option value="Operations / Client Relation Manager">Operations / Client
                                                Relation Manager</option>
                                            <option value="Wedding Cinematographer">Wedding Cinematographer</option>
                                            <option value="Film Editor">Film Editor</option>
                                            <option value="Photo Editor">Photo Editor</option>
                                            <option value="Photographer">Photographer</option>
                                            <option value="Motion Graphic Artist / Graphic Designer">Motion Graphic
                                                Artist / Graphic Designer</option>
                                            <option value="Wedding Film Director">Wedding Film Director</option>
                                            <option value="Director of Photography">Director of Photography</option>
                                        </select></span> </label>
                            </p>
                            <p><label> Job Location (required) <span class="wpcf7-form-control-wrap"
                                        data-name="JobLocation"><select
                                            class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" name="JobLocation">
                                            <option value="Kurnool">Kurnool</option>
                                        </select></span> </label>
                            </p>
                            <p><label> Phone Number (required) <span class="wpcf7-form-control-wrap"
                                        data-name="PhoneNumber"><input size="40" maxlength="400"
                                            class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel"
                                            aria-required="true" aria-invalid="false" value="" type="tel"
                                            name="PhoneNumber"></span> </label>
                            </p>
                            <p><label> Your Email (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40"
                                            maxlength="400"
                                            class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email"
                                            aria-required="true" aria-invalid="false" value="" type="email"
                                            name="your-email"></span> </label>
                            </p>
                            <p><label> Current Employer Name (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="CurrentEmployerName"><input
                                            size="40" maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="CurrentEmployerName"></span> </label>
                            </p>
                            <p><label> Total Work Experience (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="TotalWorkExperience"><input
                                            size="40" maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" placeholder="" value=""
                                            type="text" name="TotalWorkExperience"></span> </label>
                            </p>
                            <p><label> Number of Weddings shot (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="NumberofWeddingsshot"><input
                                            size="40" maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="NumberofWeddingsshot"></span> </label>
                            </p>
                            <p><label> Number of Corporate or Commercial shot (required)<br>
                                    <span class="wpcf7-form-control-wrap"
                                        data-name="NumberofCorporateorCommercialshot"><input size="40" maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="NumberofCorporateorCommercialshot"></span> </label>
                            </p>
                            <p><label> Editing Skills rating of oneself on a scale of 1-10 (Photographers &amp;
                                    Cinematographers only) (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="EditingSkills"><input size="40"
                                            maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="EditingSkills"></span> </label>
                            </p>
                            <p><label> Current Salary (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="CurrentSalary"><input size="40"
                                            maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="CurrentSalary"></span> </label>
                            </p>
                            <p><label> Expected Salary (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="ExpectedSalary"><input size="40"
                                            maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="ExpectedSalary"></span> </label>
                            </p>
                            <p><label> Reason for Job Switch (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="reason"><textarea cols="40"
                                            rows="10" maxlength="2000"
                                            class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" name="reason"></textarea></span>
                                </label>
                            </p>
                            <p><label> Why is this job right for you? (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="why-this-job"><input size="40"
                                            maxlength="400"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="why-this-job"></span> </label>
                            </p>
                            <p><label> Links to your portfolio/Resume Submission (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="profile"><textarea cols="40"
                                            rows="10" maxlength="2000"
                                            class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" name="profile"></textarea></span>
                                </label>
                            </p>
                            <p><label> When can you join us if selected (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="Whencanyoujoinusifselected"><select
                                            class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" name="Whencanyoujoinusifselected">
                                            <option value="Immediately">Immediately</option>
                                            <option value="7 Days">7 Days</option>
                                            <option value="15 Days">15 Days</option>
                                            <option value="1 Month">1 Month</option>
                                        </select></span> </label>
                            </p>
                            <p><label> How did you hear about us ? (required)<br>
                                    <span class="wpcf7-form-control-wrap" data-name="Howdidyouhearaboutus"><select
                                            class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" name="Howdidyouhearaboutus">
                                            <option value="Instagram">Instagram</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Website">Website</option>
                                            <option value="Friends/Relatives">Friends/Relatives</option>
                                            <option value="Employee Reference">Employee Reference</option>
                                            <option value="Others">Others</option>
                                        </select></span> </label>
                            </p>
                            <p><label> If employee reference, please mention the name<br>
                                    <span class="wpcf7-form-control-wrap" data-name="reference"><input size="40"
                                            maxlength="400" class="wpcf7-form-control wpcf7-text" aria-invalid="false"
                                            value="" type="text" name="reference"></span>
                                </label>
                            </p>
                            <p><label> If Others, Please mention<br>
                                    <span class="wpcf7-form-control-wrap" data-name="Others"><input size="40"
                                            maxlength="400" class="wpcf7-form-control wpcf7-text" aria-invalid="false"
                                            value="" type="text" name="Others"></span> </label>
                            </p>
                            <p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit"
                                    value="Send"><span class="wpcf7-spinner"></span>
                            </p>
                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                    </div>
                </div>
            </article><!-- #post-## -->
        </div>
    </div>
</div>