<div id="page" class="site">

    <header
        class="header header-desktop header-02 header-overlay headroom headroom--not-bottom headroom--not-top headroom--unpinned">
                <div class="header-container">
            <div class="row row-xs-center">
                <div class="col-md-3 header-left">
                    <a href="https://www.chaitusmedia.com/" rel="home" id="branding_logo">
                        <img class="logo-image" src="Harvin_Logo_PNG.png" alt="Harvin Media" title="Harvin Media">
                    </a>


                </div>
                <div class="col-md-9 header-right">
                    <nav id="menu" class="menu menu--primary">
                        <ul id="menu-primary" class="menu__container">
                            <li id="menu-item-7"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-7">
                                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                            </li>
                            <li id="menu-item-1467"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1467 mega-menu">
                                <a href="#">Our Services</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1468"
                                        class="menu-item menu-item-type-post_type menu-item-object-ic_mega_menu menu-item-1468">
                                        <div class="mega-menu-content">
                                            <div
                                                class="vc_row wpb_row vc_row-fluid vc_custom_1482895018425 vc_row-o-content-middle vc_row-flex">
                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                    <div class="vc_column-inner vc_custom_1484040147941">
                                                        <div class="wpb_wrapper"></div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill">
                                                    <div class="vc_column-inner vc_custom_1484040126690">
                                                        <div class="wpb_wrapper">
                                                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                                                    <div class="vc_column-inner">
                                                                        <div class="wpb_wrapper">
                                                                            <div
                                                                                class="vc_wp_custommenu wpb_content_element">
                                                                                <div class="widget widget_nav_menu">
                                                                                    <div
                                                                                        class="menu-services-1-container">
                                                                                        <ul id="menu-services-1"
                                                                                            class="menu">
                                                                                            <li id="menu-item-1757"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1757">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/candid-photographers-in-kurnool/">Candid
                                                                                                    Photography</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1323"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1323">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/wedding-photographers-in-kurnool/">Wedding
                                                                                                    Stories</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1756"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1756">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/advertising-photographers-in-kurnool/">Advertisements</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1758"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1758">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/baby-shoot-photography-in-kurnool/">Baby
                                                                                                    Shoots</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                                                    <div class="vc_column-inner">
                                                                        <div class="wpb_wrapper">
                                                                            <div
                                                                                class="vc_wp_custommenu wpb_content_element">
                                                                                <div class="widget widget_nav_menu">
                                                                                    <div
                                                                                        class="menu-services-2-container">
                                                                                        <ul id="menu-services-2"
                                                                                            class="menu">
                                                                                            <li id="menu-item-1759"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1759">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/wedding-films/">Wedding
                                                                                                    Films</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1459"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1459">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/maternity-shoots/">Maternity
                                                                                                    Shoots</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1458"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1458">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/proposal-photography/">Proposal
                                                                                                    Photography</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1461"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1461">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/corporate-events/">Corporate
                                                                                                    Events</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                                                    <div class="vc_column-inner">
                                                                        <div class="wpb_wrapper">
                                                                            <div
                                                                                class="vc_wp_custommenu wpb_content_element">
                                                                                <div class="widget widget_nav_menu">
                                                                                    <div
                                                                                        class="menu-services-3-container">
                                                                                        <ul id="menu-services-3"
                                                                                            class="menu">
                                                                                            <li id="menu-item-1463"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1463">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/political-branding/">Political
                                                                                                    Branding</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1464"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1464">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/movie-promotions/">Movie
                                                                                                    Promotions</a>
                                                                                            </li>
                                                                                            <li id="menu-item-1760"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1760">
                                                                                                <a
                                                                                                    href="https://chaitusmedia.com/couple-shoots/">Couple
                                                                                                    Shoots</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-has-fill">
                                                    <div class="vc_column-inner vc_custom_1484040133003">
                                                        <div class="wpb_wrapper"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-1691"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1691">
                                <a routerLink="/client-gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Client Gallery</a>
                            </li>
                            <li id="menu-item-1753"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1753"><a
                                routerLink="/portfolios" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolios</a></li>
                            <li id="menu-item-1345"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1345"><a
                                routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
                            <li id="menu-item-2222"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2222"><a
                                routerLink="/careers" routerLinkActive="active" ariaCurrentWhenActive="page">Careers</a></li>
                            <li id="menu-item-602"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-602"><a
                                routerLink="/connect" routerLinkActive="active" ariaCurrentWhenActive="page">Connect</a></li>
                            <li id="menu-item-1794"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1794"><a
                                routerLink="../blog" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a></li>
                        </ul>
                    </nav>
                    <div id="open-search" class="open-search">
                        <i class="ion-ios-search-strong"></i>
                    </div>
                </div>
            </div><!-- /.row -->
        </div>
    </header><!-- /.header -->

</div>
<div id="close-menu"></div>