<footer class="footer style02">
<div class="container">
    <div class="row">
        <div class="col-md-4 footer-c1">
                        <a href="https://chaitusmedia.com/" rel="home" id="footer_logo">
        <img class="footer-logo-image" src="Harvin_Logo_PNG.png" alt="Harvin Media">
    </a>
    <div class="footer-social">					<a class="hint--top hint--bounce hint--success" aria-label="Facebook" href="https://www.facebook.com/chaitusmedia">
                <i class="fa fa-facebook"></i>
            </a>
                            <a class="hint--top hint--bounce hint--success" aria-label="Instagram" href="http://www.instagram.com/chaitusmedia">
                <i class="fa fa-instagram"></i>
            </a>
                            <a class="hint--top hint--bounce hint--success" aria-label="Twitter" href="http://www.twitter.com/chaitusmedia">
                <i class="fa fa-twitter"></i>
            </a>
                            <a class="hint--top hint--bounce hint--success" aria-label="Vimeo" href="http://www.vimeo.com/chaitusmedia">
                <i class="fa fa-vimeo"></i>
            </a>
                            <a class="hint--top hint--bounce hint--success" aria-label="Youtube" href="http://www.youtube.com/chaitusmedia">
                <i class="fa fa-youtube"></i>
            </a>
        </div>				</div>
        <div class="col-md-2 footer-c2">
            <div id="insight-core-bmw-1" class="widget insight-core-bmw"><h3 class="widget-title">Our Services</h3><div class="menu-footer-our-services-container"><ul id="menu-footer-our-services" class="menu"><li id="menu-item-1427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1427"><a href="https://chaitusmedia.com/wedding-photographers-in-kurnool/">Wedding Stories</a></li>
<li id="menu-item-1426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426"><a href="https://chaitusmedia.com/wedding-films/">Wedding Films</a></li>
<li id="menu-item-1425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425"><a href="https://chaitusmedia.com/couple-shoots/">Couple Shoots</a></li>
<li id="menu-item-1424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424"><a href="https://chaitusmedia.com/portfolios/">Portfolios</a></li>
<li id="menu-item-1423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423"><a href="https://chaitusmedia.com/baby-shoot-photography-in-kurnool/">Baby Shoots</a></li>
<li id="menu-item-1422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1422"><a href="https://chaitusmedia.com/maternity-shoots/">Maternity Shoots</a></li>
<li id="menu-item-1421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="https://chaitusmedia.com/proposal-photography/">Proposal Photography</a></li>
<li id="menu-item-1420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="https://chaitusmedia.com/advertising-photographers-in-kurnool/">Advertisements</a></li>
<li id="menu-item-1419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1419"><a href="https://chaitusmedia.com/corporate-events/">Corporate Events</a></li>
<li id="menu-item-1418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1418"><a href="https://chaitusmedia.com/movie-promotions/">Movie Promotions</a></li>
<li id="menu-item-1417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1417"><a href="https://chaitusmedia.com/political-branding/">Political Branding</a></li>
</ul></div></div>				</div>
        <div class="col-md-2 footer-c3">
            <div id="insight-core-bmw-2" class="widget insight-core-bmw"><h3 class="widget-title">Quick Links</h3><div class="menu-footer-quick-links-container"><ul id="menu-footer-quick-links" class="menu"><li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a href="#">My Account</a></li>
<li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22"><a href="#">View Order</a></li>
<li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23"><a href="#">About Us</a></li>
<li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24"><a href="#">Promotions</a></li>
<li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25"><a href="#">Contact Us</a></li>
</ul></div></div>				</div>
        <div class="col-md-4 footer-c4">
            <div id="text-1" class="widget widget_text"><h3 class="widget-title">Conect With Us</h3>			<div class="textwidget"><p>Shop no : 26, 3rd Floor, Skanda Shopping Mall, Beside Coles Church, Kurnool, Andhra Pradesh 518001</p>
<p>099669 93116
</p> </div>
</div>						<div class="footer-gmap">
                    <a href="#" data-featherlight="#gmap">Google Map</a>
                    <iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.4792370756277!2d78.0448133148554!3d15.831389989028194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe73238084f92bcf!2sChaitus+Media!5e0!3m2!1sen!2suk!4v1512994113870" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>						</div>
                                </div>
    </div> <!-- /.row -->
</div>
</footer>

<div class="copyright style02 type-01">
	<div class="container">
		<div class="copyright-container">
			<div class="row row-xs-center">
				<div class="col-md-6 copyright-left">
					Copyright © 2017 Chaitus Media. - All Rights Reserved. Powered by -<a href="http://www.theblogsmart.com">The Blogs Mart</a>				</div>
				<div class="col-md-6 copyright-right">
					<ul id="menu-copyright" class="copyright-menu"><li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a href="https://chaitusmedia.com/privacy-policy-2/">Privacy Policy</a></li>
<li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a href="https://chaitusmedia.com/terms-of-service/">Term And Conditions</a></li>
<li id="menu-item-3282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3282"><a href="https://chaitusmedia.com/cancellation-refund-policy/">Cancellation and refund policy</a></li>
<li id="menu-item-3283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3283"><a href="https://chaitusmedia.com/shipping-policy-for-chaitus-media/">Shipping policy</a></li>
</ul>				</div>
			</div>
		</div>
	</div>
</div>