<div class="container">
    <div id="primary" class="content-area row">
        <div id="main" class="main blog-list-v2 col-md-9" role="main">

            <div id="post-2120"
                class="blog-classic-style style-02 post-2120 post type-post status-publish format-standard hentry category-blog">
                <div class="row">
                    <div class="entry-desc col-md-7">
                        <div class="entry-meta nd-font">
                            <span class="posted-on"><time class="entry-date published updated"
                                    datetime="2021-05-03T11:38:32+00:00">May 3, 2021</time></span>
                        </div>
                        <a href="https://chaitusmedia.com/siva-lohitha-krishna-teja-engagement-live/">
                            <h5 class="entry-title nd-font">Siva Lohitha + Krishna Teja engagement – LIVE</h5>
                        </a>
                        <div class="entry-content">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="entry-more col-md-12">
                                <a href="https://chaitusmedia.com/siva-lohitha-krishna-teja-engagement-live/">/ Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #post-## -->
            <div id="post-2064"
                class="blog-classic-style style-02 post-2064 post type-post status-publish format-standard hentry category-blog">
                <div class="row">
                    <div class="entry-desc col-md-7">
                        <div class="entry-meta nd-font">
                            <span class="posted-on"><time class="entry-date published"
                                    datetime="2020-11-11T05:17:26+00:00">November 11, 2020</time><time class="updated"
                                    datetime="2020-11-11T05:18:04+00:00">November 11, 2020</time></span>
                        </div>
                        <a href="https://chaitusmedia.com/terms-conditions/">
                            <h5 class="entry-title nd-font">Terms &amp; Conditions</h5>
                        </a>
                        <div class="entry-content">
                            <p>1. Booking Deposit and Payment: The Client shall make a booking fee as per contract to
                                retain the Studio to perform the services specified in the contract. 2. Cancellation: If
                                the Client shall cancel this Agreement more than six (6) calendar days before the photo
                                shooting day, any booking fee paid to the Photographer shall...</p>
                        </div>
                        <div class="row">
                            <div class="entry-more col-md-12">
                                <a href="https://chaitusmedia.com/terms-conditions/">/ Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #post-## -->
            <div id="post-1856"
                class="blog-classic-style style-02 post-1856 post type-post status-publish format-video has-post-thumbnail hentry category-blog post_format-post-format-video">
                <div class="row">
                    <div class="col-md-5">
                        <div class="post-thumbnail">
                            <a href="https://chaitusmedia.com/ganas-1st-annual-abecedarian-birthday-beano/">
                                <img src="https://chaitusmedia.com/wp-content/uploads/2020/06/gana-thum.jpg"
                                    class="attachment-340x250 size-340x250 wp-post-image" alt="" decoding="async"
                                    srcset="https://chaitusmedia.com/wp-content/uploads/2020/06/gana-thum.jpg 1920w, https://chaitusmedia.com/wp-content/uploads/2020/06/gana-thum-300x169.jpg 300w, https://chaitusmedia.com/wp-content/uploads/2020/06/gana-thum-1024x576.jpg 1024w, https://chaitusmedia.com/wp-content/uploads/2020/06/gana-thum-768x432.jpg 768w, https://chaitusmedia.com/wp-content/uploads/2020/06/gana-thum-1536x864.jpg 1536w"
                                    sizes="(max-width: 340px) 100vw, 330px"> </a>
                        </div>
                    </div>
                    <div class="entry-desc col-md-7">
                        <div class="entry-meta nd-font">
                            <span class="posted-on"><time class="entry-date published"
                                    datetime="2020-06-30T14:13:55+00:00">June 30, 2020</time><time class="updated"
                                    datetime="2020-06-30T14:27:14+00:00">June 30, 2020</time></span>
                        </div>
                        <a href="https://chaitusmedia.com/ganas-1st-annual-abecedarian-birthday-beano/">
                            <h5 class="entry-title nd-font">Gana’s 1st Annual abecedarian birthday beano..</h5>
                        </a>
                        <div class="entry-content">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="entry-more col-md-12">
                                <a href="https://chaitusmedia.com/ganas-1st-annual-abecedarian-birthday-beano/">/ Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #post-## -->
            <div id="post-1790"
                class="blog-classic-style style-02 post-1790 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                <div class="row">
                    <div class="col-md-5">
                        <div class="post-thumbnail">
                            <a href="https://chaitusmedia.com/beginning-of-the-new-normal/">
                                <img src="https://chaitusmedia.com/wp-content/uploads/2017/12/LNR_2506_new.jpg"
                                    class="attachment-370x250 size-370x250 wp-post-image" alt="" decoding="async"
                                    srcset="https://chaitusmedia.com/wp-content/uploads/2017/12/LNR_2506_new.jpg 5760w, https://chaitusmedia.com/wp-content/uploads/2017/12/LNR_2506_new-300x200.jpg 300w, https://chaitusmedia.com/wp-content/uploads/2017/12/LNR_2506_new-768x512.jpg 768w, https://chaitusmedia.com/wp-content/uploads/2017/12/LNR_2506_new-1024x683.jpg 1024w"
                                    sizes="(max-width: 370px) 100vw, 370px"> </a>
                        </div>
                    </div>
                    <div class="entry-desc col-md-7">
                        <div class="entry-meta nd-font">
                            <span class="posted-on"><time class="entry-date published"
                                    datetime="2020-05-29T10:26:42+00:00">May 29, 2020</time><time class="updated"
                                    datetime="2020-05-29T10:30:55+00:00">May 29, 2020</time></span>
                        </div>
                        <a href="https://chaitusmedia.com/beginning-of-the-new-normal/">
                            <h5 class="entry-title nd-font">BEGINNING OF “THE NEW NORMAL”</h5>
                        </a>
                        <div class="entry-content">
                            <p>BEGINNING OF “THE NEW NORMAL” Weddings in India are always a great sense of camaraderie
                                and joy. Every couple wishes to get unobtrusively captured on their special day and get
                                all those once-in-a-lifetime moments perfectly so that they could be cherished later
                                down the lane. The sudden outbreak of corona virus has left all the...</p>
                        </div>
                        <div class="row">
                            <div class="entry-more col-md-12">
                                <a href="https://chaitusmedia.com/beginning-of-the-new-normal/">/ Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #post-## -->
        </div>
        <div id="sidebar" class="sidebar col-md-3 ">
            <div id="secondary" class="widget-area" role="complementary">
                <div id="search-3" class="widget widget_search">
                    <form role="search" method="get" class="search-form" action="https://chaitusmedia.com/">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
                </div>
                <div id="insight_categories-1" class="widget widget_insight_categories">
                    <h3 class="widget-title">Categories</h3>
                    <div class="item"><a href="https://chaitusmedia.com/category/blog/">Blog</a><span>4</span></div>
                    <div class="item"><a href="https://chaitusmedia.com/category/live-streaming/">Live
                            Streaming</a><span>86</span></div>
                </div>
                <div id="insight_posts-1" class="widget widget_insight_posts">
                    <h3 class="widget-title">Popular Posts</h3>
                    <div class="item">
                        <div class="thumb">
                        </div>
                        <div class="info">
                            <span class="date nd-font">
                                April 18, 2024 </span>
                            <span class="title nd-font">
                                <a href="https://chaitusmedia.com/vaishnavi-suraj-wedding-celebrations-live/"
                                    title="Vaishnavi &amp; Suraj Wedding Celebrations – LIVE">
                                    Vaishnavi &amp; Suraj Wedding Celebrations... </a>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                        </div>
                        <div class="info">
                            <span class="date nd-font">
                                April 3, 2024 </span>
                            <span class="title nd-font">
                                <a href="https://chaitusmedia.com/aneesha-abhilash-engagement-ceremony-live/"
                                    title="Aneesha &amp; Abhilash Engagement Ceremony – LIVE">
                                    Aneesha &amp; Abhilash Engagement Ceremony... </a>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                        </div>
                        <div class="info">
                            <span class="date nd-font">
                                March 29, 2024 </span>
                            <span class="title nd-font">
                                <a href="https://chaitusmedia.com/maneesh-vidhisha-wedding-celebrations-live/"
                                    title="Maneesh &amp; Vidhisha Wedding Celebrations – LIVE">
                                    Maneesh &amp; Vidhisha Wedding Celebrations... </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>